html, body { margin: 0; height: 100%; box-sizing: border-box; font-size: 20px; color: blue }

/* Borders shouldn't cause scroll bars */
div {box-sizing: border-box;}

.main-screen{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    width: 100%;
    height: 100%
}

.controls{
    flex: 0 0 50px;
    width: 100%;

    /* Internal content layout */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
    border: 1px solid blue
}

.controls .title{

    margin: 16px;
    font-family: helvetica;
    color: blue;

    flex: 0 0 100px;
    align-self: auto;
}

.controls .search{
    flex: 1 1 auto;
    align-self: auto;
}

.right-flow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}

#search  input {
    border: 1px solid blue;
    flex: 1 1 auto;

    border-radius: 5px;
    height: 20px;
}

#search .action{
    flex: 0 0 100px;
    align-self: auto;
}

.button {
    text-align: center;
    width: 80px;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 0 10px;

}

.button:hover{
    color: white;
    background-color: blue;
}

.browser {
    flex: 1 1 auto;
    align-self: auto;
}

#footer .trades-toggle{
    flex: 0 0 100px;
    align-self: center;
    justify-content: center;
    color: blue;
    margin-left: 20px
}

#footer .button-area{
    flex: 1 1 auto;
}